 
.img1 img{
  height: 430px;
  width: 100%;
}
.vision h1{
    text-align: center;
    color: var(--blue);
    margin-top: 10px;
    font-size: 3.5rem;
    font-weight: 400;
    width: 100%;
}
.vis {
    padding:50px;
    padding-left: 95px;
    padding-right: 70px;
    padding-bottom: 70px;
    margin: 15px;
}
.vis h2{
    color: var(--blue);
    font-size: 2.9rem;
    font-weight: 400;
    margin-bottom: 10px;
  
}
.vis p{
    font-size: 1.2rem;
}
.viss {
    width: 750px;
  
   
}
.viss h2{
    font-size: 2.9rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--blue);
}
.viss p{
    font-size: 1.2rem;
   
}
.side{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 50px;
}
.v1 img{
    height: 400px;
    width: 600px;
    
}