 .img1 {
     width: 100%;
 }

 .img1 img {
     height: 460px;
     width: 100%;
     object-fit: cover;
 }

 .vision {
     display: flex;
     flex-direction: column;
 }

 .vision h1 {
     text-align: center;
     color: var(--blue);
     margin-top: 10px;
     font-size: 3.5rem;
     font-weight: 400;
     width: 100%;
 }

 .vis {
     padding: 50px;
     padding-left: 60px;
     padding-right: 70px;
     padding-bottom: 70px;
 }

 .vis h2 {
     color: var(--blue);
     font-size: 2.9rem;
     font-weight: 400;
     margin-bottom: 10px;

 }

 .vis p {
     font-weight: 300;
     font-size: 1.2rem;
 }

 .viss {
     width: 50%;
     height: 400px;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     padding-left: 60px;
 }

 .viss h2 {
     font-size: 2.9rem;
     font-weight: 400;
     margin-bottom: 10px;
     color: var(--blue);
     text-align: start;
 }

 .viss p {
     font-size: 1.2rem;
     font-weight: 300;
     width: 690px;
 }

 .side {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     margin-top: 100px;
     width: 100%;
     height: 500px;
     margin-bottom: 50px;
 }

 .v1{
    width: 50%;
    height: 100%;
 }
 .v1 img {
    border-radius: 7px;
    box-shadow: 1px 9px 30px 10px rgba(128, 128, 128, 0.55);
     width: 95%;
 }
