 .img1 {
    position: relative;
     width: 100%;
     height: 460px;
 }

 .img1 img {
     height: 100%;
     width: 100%;
     object-fit: cover;
 }

 .vision {
     display: flex;
     flex-direction: column;
     margin-top: 0px;
     margin-bottom: 40px;
 }

 span {
     font-size: 1.3rem;
     font-weight: 300;
     color: var(--blue);
 }

 h1 {
     text-align: center;
     color: rgb(255, 252, 252);
     margin-top: 80px;
     font-size: 5.5rem;
     font-weight: 400;
     width: 100%;
     font-family: "ivymode";
 }

 .vis {
     display: flex;
     flex-direction: column;
     padding-left: 60px;
     padding-right: 70px;
     padding-bottom: 30px;
 }

 .vis:first-child,
 .vis:nth-child(3) {
     background-color: var(--llblue);
 }

 .vis h2 {
     font-family: 'ivymode';
     color: var(--blue);
     font-size: 2.5rem;
     font-weight: 400;
     padding-top: 50px;

 }

 .vis p {
     font-weight: 300;
     font-size: 1.2rem;
     padding-top: 5px;
 }

 .viss {
     width: 50%;
     height: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding-left: 60px;
 }

 .viss h2 {
     font-family: 'ivymode';
     font-size: 2.5rem;
     font-weight: 400;
     color: var(--blue);
     text-align: start;
 }

 .viss p {
     font-size: 1.2rem;
     font-weight: 300;
     width: 690px;
     padding-top: 5px;
 }

 .side {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     margin-top: 20px;
     width: 100%;
     height: 400px;
 }

 .v1 {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 50%;
     height: 100%;
 }


 .v1 img {
     border-radius: 7px;
     box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
     width: 80%;
 }

 .au {
     position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }

 .btn1 {
     color: var(--blue);
     background-color: white;
     border: 1px solid var(--blue);
     font-size: 1rem;
     display: flex;
     padding: 12px 22px;
     border-radius: 30px;
     transition: all 0.3s ease-in-out;
     margin: 20px;
     margin-left: 0;
 }

 .btn1:hover {
     background-color: var(--blue);
     color: white;
     cursor: pointer;
 }

 #jlink {
     text-decoration: none;
     width: fit-content;
     height: fit-content;
 }