footer{
    display: flex;
    background-color: white;
    height: 350px;
    width: 100%;
}

.logof{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    width: 30%;
}

.details{
    width: 70%;
    display: flex;
    justify-content:stretch;
    flex-direction: column;
    align-items: center;
}

.details .cas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 80px;
}

.details #dpara{
    font-weight: 300;
    padding: 40px;
    font-size: 1.2rem;
}

.cas p{
    font-weight: 300;
    font-size: 1.1rem;
}
.cas .cont,.cas .add{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.cas a{
    transition: all 0.3s ease-in-out;
    font-size: 1.12rem;
    font-weight: 300;
    display: inline;
    width: fit-content;
    text-decoration: none;
}

.cas a:hover{
    color: var(--blue);
}
.cas h4{
    color: var(--blue);
    font-size: 1.4rem;
    font-weight: 600;
}

.social{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

.flinks{
    margin-top: 10px;
    display: flex;
    justify-content:stretch;
    align-items: center;
}

.social i{
    color: rgb(149, 149, 149);
    font-size: 1.9rem;
    width: 55px;
    height: 55px;
    transition: all 0.3s ease;
}

.social a{
    width: fit-content;
}

.fa-brands.fa-facebook:hover{
    font-size: 2.8rem;
    color: rgb(33, 129, 255);
}

.fa-brands.fa-instagram:hover{
    font-size: 2.8rem;
    background: -webkit-linear-gradient(#ff29d8, #e4a216);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-brands.fa-x-twitter:hover{
    font-size: 2.8rem;
    color: black;
}

.fa-brands.fa-youtube:hover{
    font-size: 2.8rem;
    color: rgb(255, 0, 0);
}

.fa-brands.fa-linkedin:hover{
    font-size: 2.8rem;
    color: hsl(210, 95%, 43%);
}
