footer{
    display: flex;
    background-color: var(--blue);
    height: 350px;
    width: 100%;
}

.logof{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    width: 30%;
}

.details{
    width: 70%;
    display: flex;
    justify-content:stretch;
    flex-direction: column;
    align-items: center;
}

.details .cas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 80px;
}
.details #dpara p{
    color: white;
    font-weight: 300;
}
.details #dpara{
    padding: 40px;
    font-size: 1.2rem;
}

.cas p{   
    font-size: 1.1rem;
}
.cas .add p{
    font-size: 1.25rem;
    font-weight:200;
    color: white;
}
.cas .cont a{
    color: white;
}
.cas .cont,.cas .add{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.cont a{
    position: relative;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    font-weight: 300;
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    margin-bottom: 3px;
}

.cont a::after{
    content: '';
    display: block;
    position: absolute;
    height: 1.5px;
    background-color: var(--lblue);
    width: 0;
    transition: width 0.3s ease-in-out;
    bottom: 0;
    left: 0; 
}

.cont a:hover::after {
    width: 100%; 
}

.cas h4{
    font-family: 'Ivymode';
    margin-bottom: 5px;
    color: var(--lblue);
    font-size: 1.4rem;
    font-weight: 600;
}

.social{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

.flinks{
    margin-top: 10px;
    display: flex;
    justify-content:stretch;
    align-items: center;
}

.social i{
    color:white;
    font-size: 1.9rem;
    width: 55px;
    height: 55px;
    transition: all 0.3s ease;
}

.social a{
    width: fit-content;
}

.fa-brands.fa-facebook:hover{
    font-size: 2.8rem;
    color: rgb(33, 129, 255);
}

.fa-brands.fa-instagram:hover{
    font-size: 2.8rem;
    background: -webkit-linear-gradient(#ff29d8, #e4a216);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-brands.fa-x-twitter:hover{
    font-size: 2.8rem;
    color: black;
}

.fa-brands.fa-youtube:hover{
    font-size: 2.8rem;
    color: rgb(255, 0, 0);
}

.fa-brands.fa-linkedin:hover{
    font-size: 2.8rem;
    color: hsl(210, 95%, 43%);
}
