:root{
    --blue:#1c575e;
    --lblue:#fef9f1;
    --dblue:#82450f;
}

body{
    background-color: var(--lblue);
    padding-top: 100px;
    position: relative;
    max-width: 100dvw;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    color: black;
}

#llloo{
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(252, 252, 252);
    margin-left: 40px;
}

#llloo img{
    width: 90px;
}

#navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 0px;
    width: 30%;
    height: 100%;
}

.logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 220px;
    object-fit: cover;
}

.slogan{
    position: fixed;
    top: 0;
    display: grid;
    align-content: center;
    grid-template-columns: 90px 60px 60px;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 180px;
    background-color: var(--blue);
    width: 100%;
    height: 40px;
    z-index: 10000;
}

header{
    top: 40px;
    position: fixed;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgb(252, 252, 252);
    transition: all 0.5s ease;
    box-shadow: 0px 1px 6px rgba(20, 3, 3, 0.887);
}

header .mul{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-weight: 500;
    font-size: 0.95rem;
}

header .mul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    height: 100%;
}

header #logomaa{
    align-items: center;
    display: flex;
    width: 18%;
    height: 100%;
    justify-content: space-between;
}

header .mul .links{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    padding: 5px 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
    text-align: center;
    border-radius: 30px;
    height: min-content;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--blue);
    text-decoration: none;
}

header .mul .links:hover{
    box-shadow: 3px 3px 8px 1px rgba(224, 224, 224, 0.2);
    color: white;
    background-color: var(--blue);
    box-shadow: 3px 3px 8px 1px rgba(224, 224, 224, 0.2);
}

header.scrolled{
    position: fixed;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    box-shadow: 0px 0.1px 5px rgba(0, 0, 0, 0.527);
    transition: all 0.5s ease;
}




header.scrolled .mul{ 
    height: 100%;
    display: flex;
    align-items: center;
}

header.scrolled .mul li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.scrolled .mul .links{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    justify-content: center;
    color: var(--blue);
    border: 1px solid var(--blue);
    height: min-content;
}

header.scrolled .mul .links:hover{
    box-shadow: 3px 3px 8px 1px rgba(224, 224, 224, 0.2);
    color: white;
    background-color: var(--blue);
}

header .mul .links:active{
    color: white;
    border: 1px solid var(--blue);
    background-color: #002731;
}

header img{
    width: 280px;
}


header .mul .links:active{
    background-color: #002731;
    border: 1px solid var(--blue);
    color: white;

}

.fa-solid.fa-chevron-down{
    transition: all 0.4s ease-in-out;
    padding-left: 4px;
    font-size: 0.9rem;
    color:var(--blue);
}

header.scrolled .fa-solid.fa-chevron-down{
    color: var(--blue);
}

header .links:hover .fa-solid.fa-chevron-down{
    color: white;
}

header.scrolled .fa-solid.fa-chevron-down{
    color: var(--blue);
}

::selection{
    background-color: var(--blue);
    color: white;
}

button {
    -webkit-tap-highlight-color: transparent;
}

a {
    -webkit-tap-highlight-color: transparent;
}

#ddsol,#ddsol1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dd,#dd1{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 80px;
    width: 170px;
    background-color: white;
    border-radius: 6px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.202);
}

#dd a,#dd1 a{
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    display: block;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 5px;
    border-radius: 6px;
    color: var(--blue);
}

#dd a:hover,#dd1 a:hover{
    background-color: var(--blue);
    color: white;
}

#dd a:active,#dd1 a:active{
    background-color: #002731;
    color: white;
}

#ddsol:hover #dd,#ddsol a:hover #dd{
    opacity: 1;
    visibility: visible;
}

#ddsol1:hover #dd1,#ddsol1 a:hover #dd1{
    opacity: 1;
    visibility: visible;
}

header.scrolled #dd,header.scrolled #dd1{
    top: 80px;
}

header .mul .links:hover .fa-solid.fa-chevron-down,header li:nth-child(3):hover .fa-solid.fa-chevron-down,header li:nth-child(2):hover .fa-solid.fa-chevron-down{
    padding-right: 4px;
    padding-left: 0px;
    transform: rotate(180deg);
}












