:root{
    --blue:#00520c;
    --lblue:hsl(195, 100%, 96%);
    --dblue:hsl(0, 0%, 0%);
}

body{
    position: relative;
    max-width: 100dvw;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    color: var(--dblue);
}

#navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 20%;
    height: 100%;
}

.slogan{
    display: grid;
    align-content: center;
    grid-template-columns: 90px 60px 60px;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 70px;
    background-color: rgb(250, 248, 248);
    width: 100%;
    height: 40px;
    z-index: 10000;
}

header{
    top: 40px;
    position: fixed;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background-color: rgba(205, 204, 204, 0.185);
    backdrop-filter: blur(2px);
    transition: all 0.5s ease;
    box-shadow: 0px 1px 6px rgba(20, 3, 3, 0.887);
}

header .mul{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-weight: 500;
    font-size: 1.15rem;    
}

header .mul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    height: 100%;
}

header .mul .links{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
    text-align: center;
    border-radius: 30px;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
    text-decoration: none;
}

header .mul .links:hover{
    cursor: pointer;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.552);
    box-shadow: 3px 3px 8px 1px rgba(224, 224, 224, 0.2);
}

header.scrolled{
    position: fixed;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 5px rgba(20, 3, 3, 0.887);
    transition: all 0.5s ease;
}

header.scrolled img{
    width: 200px;
}


header.scrolled .mul{ 
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.95rem;
}

header.scrolled .mul li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.scrolled .mul .links{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    justify-content: center;
    color: var(--blue);
    border: 1px solid var(--blue);
    height: min-content;
}

header.scrolled .mul .links:hover{
    box-shadow: 3px 3px 8px 1px rgba(224, 224, 224, 0.2);
    color: white;
    background-color: var(--blue);
}

header.scrolled .mul .links:active{
    color: white;
    background-color: var(--dblue);
}

header.scrolled .logo{
    width: 12%;
    margin-left: 50px;
}

header img{
    width: 280px;
}


header .mul .links:active{
    border: 1px solid var(--blue);
    color: white;

}

.fa-solid.fa-chevron-down{
    transition: all 0.4s ease-in-out;
    padding-left: 4px;
    font-size: 0.9rem;
    color: white;
}

header.scrolled .fa-solid.fa-chevron-down{
    color: var(--blue);
}

header.scrolled .links:hover .fa-solid.fa-chevron-down{
    color: white;
}

header.scrolled .fa-solid.fa-chevron-down{
    color: var(--blue);
}

::selection{
    background-color: var(--blue);
    color: white;
}

button {
    -webkit-tap-highlight-color: transparent;
}

a {
    -webkit-tap-highlight-color: transparent;
}

#ddsol,#ddsol1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dd,#dd1{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 120px;
    width: 170px;
    background-color: rgb(243, 243, 243);
    border-radius: 6px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.202);
}

#dd a,#dd1 a{
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    display: block;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 5px;
    border-radius: 6px;
    color: var(--blue);
}

#dd a:hover,#dd1 a:hover{
    background-color: var(--blue);
    color: white;
}

#dd a:active,#dd1 a:active{
    background-color: #003107;
    color: white;
}

#ddsol:hover #dd,#ddsol a:hover #dd{
    opacity: 1;
    visibility: visible;
}

#ddsol1:hover #dd1,#ddsol1 a:hover #dd1{
    opacity: 1;
    visibility: visible;
}

header.scrolled #dd,header.scrolled #dd1{
    top: 80px;
}

header .mul .links:hover .fa-solid.fa-chevron-down,header li:nth-child(3):hover .fa-solid.fa-chevron-down,header li:nth-child(2):hover .fa-solid.fa-chevron-down{
    padding-right: 4px;
    padding-left: 0px;
    transform: rotate(180deg);
}












