.ig{
    width: 100%;
    height: 460px;
    object-fit: cover;
}

.main{
    font-family: 'ivymode';
    width: 100%;
    color: white;
    margin: 60px;
    font-size: 5.9rem;
    font-weight: 400;
    position: absolute;
    top: 160px;
    left: 450px;
}

.main1{
    position: relative;
    width: 100%;
}
.container {
    margin: 20px auto;
    padding-left: 60px;
}

.container section{
    margin-bottom: 5px;
}
.container h2 {
    font-family: 'ivymode';
    font-weight: 400;
    color: var(--blue);
    margin-top: 15px;
    margin-bottom: 10px;
}

.container ul {
    padding-left: 40px;
}

.container li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: 300;
}

.container strong{
    font-weight: 300;
    color: var(--blue);
}

.container p{
    padding-left: 20px;
    font-size: 1.1rem;
    font-weight: 300;
}


