header .mul li:nth-child(3) >.links{
    background-color: var(--blue);
    box-shadow: none;
}

header.scrolled .mul li:nth-child(3) > .links{
    color: white;
}

header.scrolled ul li:nth-child(3) .fa-solid.fa-chevron-down{
    color: white;
}

.ig{
    width: 100%;
    height: 460px;
    object-fit: cover;
}

.main{
    color: var(--blue);
    margin: 60px;
    font-size: 2.9rem;
    font-weight: 400;
}

.m1{
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 400; 
    padding-left: 60px;
    padding-bottom: 5px;
}

.m2{
    font-size: 1.2rem;
    font-weight: 300; 
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 30px;
}

