*{
    color: var(--lblue);
}


.m2{
    color: var(--lblue);
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    font-weight: 300;
    padding-left: 60px;
    padding-top: 25px;
}

span{
    font-family: 'ivymode';
    font-size: 1.6rem;
    color: var(--lblue);
}

#plist li{
    color: var(--lblue);
}

@media (max-width:500px){
    body{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        height: max-content;
    }
    .er{
        height: 300px;
    }
    .main{
        text-align: center;
        white-space:unset;
        font-size: 3rem;
    }
    .m2{
        width: 90%;
        padding: 0;
        text-align: center;
        margin-top: 30px;
    }
    #plist{
        text-align: left;
        margin-top: 0;
        margin-left: 30px;
    }
}


